@using PagedList
@using PagedList.Mvc
@model IPagedList<JobListing.Entities.Job>
@{
    ViewBag.Title = "Job List";
    Layout = "~/Views/Shared/_JobListingLayout.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Best Jobs Ever
                </h1>
                <p class="text-white link-nav"><a href="@Url.Action("Index","Home")">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="@Url.Action("List","Job")"> Job List</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start post Area -->
<section class="post-area section-gap">
    <div class="container">
        <div class="row justify-content-center d-flex">
            <div class="col-lg-8 post-list">
                @foreach (var item in Model)
                {
                    <div class="single-post d-flex flex-row">
                        <div class="thumb">
                            @if (item.Company.Logo != null)
                            {
                                string imageBase64 = Convert.ToBase64String(item.Company.Logo);
                                string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);

                                <img src="@imageSrc" class="rounded-bottom" width="125" height="135" />
                            }
                            <ul class="tags">
                                <li>
                                    <a href="#">Art</a>
                                </li>
                                <li>
                                    <a href="#">Media</a>
                                </li>
                                <li>
                                    <a href="#">Design</a>
                                </li>
                            </ul>
                        </div>
                        <div class="details">
                            <div class="title d-flex flex-row justify-content-between">
                                <div class="titles">
                                    <a href="/Jobs/JobDetail/@item.JobId"><h4>@item.JobDescriptionTitle</h4></a>
                                    <h6>@item.Company.CompanyName</h6>
                                </div>
                                <ul class="btns">
                                    <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                                    <li><a href="#">Apply</a></li>
                                </ul>
                            </div>
                            <p>
                                @item.JobDescriptionTitle
                            </p>
                            <h5>Job Nature : @item.JobNature</h5>
                            <p class="address"><span class="lnr lnr-map"></span> @item.Company.Address - @item.Company.City.CityName</p>
                            <p class="address"><span class="lnr lnr-database"></span>  @string.Format("{0:0}", item.SalaryMin) - @string.Format("{0:0}", item.SalaryMax) TL</p>
                        </div>
                    </div>
                }
                <div class="pagedList" style="text-align:center">
                    @Html.PagedListPager(Model, page => Url.Action("List", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
                </div>
            </div>

            <div class="col-lg-4 sidebar">
                <div class="single-slidebar">
                    <h4>Jobs by Location</h4>
                    <ul class="cat-list">
                        @foreach (var item in ViewData["CityList"] as IEnumerable<JobListing.Entities.City>)
                        {
                            <li><a class="justify-content-between d-flex" href="/Jobs/Detail/@item.CityId">@item.CityName<span>(@Model.Count(x => x.Company.CityId == item.CityId))</span></a></li>
                        }
                    </ul>
                </div>
                <div class="single-slidebar">
                    <h4>Top rated job posts</h4>
                    <div class="active-relatedjob-carusel">
                        <div class="single-rated">
                            <img class="img-fluid" src="/Content/img/r1.jpg" alt="">
                            <a href="single.html"><h4>Creative Art Designer</h4></a>
                            <h6>Premium Labels Limited</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
                            </p>
                            <h5>Job Nature: Full time</h5>
                            <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
                            <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
                            <a href="#" class="btns text-uppercase">Apply job</a>
                        </div>
                        <div class="single-rated">
                            <img class="img-fluid" src="/Content/img/r1.jpg" alt="">
                            <a href="single.html"><h4>Creative Art Designer</h4></a>
                            <h6>Premium Labels Limited</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
                            </p>
                            <h5>Job Nature: Full time</h5>
                            <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
                            <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
                            <a href="#" class="btns text-uppercase">Apply job</a>
                        </div>
                        <div class="single-rated">
                            <img class="img-fluid" src="/Content/img/r1.jpg" alt="">
                            <a href="single.html"><h4>Creative Art Designer</h4></a>
                            <h6>Premium Labels Limited</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
                            </p>
                            <h5>Job Nature: Full time</h5>
                            <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
                            <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
                            <a href="#" class="btns text-uppercase">Apply job</a>
                        </div>
                    </div>
                </div>
                <div class="single-slidebar">
                    <h4>Jobs by Category</h4>
                    <ul class="cat-list">
                        @foreach (var item in ViewData["CategoryList"] as IEnumerable<JobListing.Entities.Category>)
                        {
                            <li><a class="justify-content-between d-flex" href="/Jobs/JobCategoryDetail/@item.CategoryId"><p>@item.CategoryName</p><span>(@item.Jobs.Count)</span></a></li>
                        }
                    </ul>
                </div>
                <div class="single-slidebar">
                    <h4>Carrer Advice Blog</h4>
                    <div class="blog-list">
                        <div class="single-blog " style="background:#000 url(img/blog1.jpg);">
                            <a href="single.html">
                                <h4>
                                    Home Audio Recording <br>
                                    For Everyone
                                </h4>
                            </a>
                            <div class="meta justify-content-between d-flex">
                                <p>
                                    02 Hours ago
                                </p>
                                <p>
                                    <span class="lnr lnr-heart"></span>
                                    06
                                    <span class="lnr lnr-bubble"></span>
                                    02
                                </p>
                            </div>
                        </div>
                        <div class="single-blog " style="background:#000 url(img/blog2.jpg);">
                            <a href="single.html">
                                <h4>
                                    Home Audio Recording <br>
                                    For Everyone
                                </h4>
                            </a>
                            <div class="meta justify-content-between d-flex">
                                <p>
                                    02 Hours ago
                                </p>
                                <p>
                                    <span class="lnr lnr-heart"></span>
                                    06
                                    <span class="lnr lnr-bubble"></span>
                                    02
                                </p>
                            </div>
                        </div>
                        <div class="single-blog " style="background:#000 url(img/blog1.jpg);">
                            <a href="single.html">
                                <h4>
                                    Home Audio Recording <br>
                                    For Everyone
                                </h4>
                            </a>
                            <div class="meta justify-content-between d-flex">
                                <p>
                                    02 Hours ago
                                </p>
                                <p>
                                    <span class="lnr lnr-heart"></span>
                                    06
                                    <span class="lnr lnr-bubble"></span>
                                    02
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End post Area -->
<!-- Start callto-action Area -->
<section class="callto-action-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content col-lg-9">
                <div class="title text-center">
                    <h1 class="mb-10 text-white">Join us today without any hesitation</h1>
                    <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                    <a class="primary-btn" href="#">I am a Candidate</a>
                    <a class="primary-btn" href="#">Request Free Demo</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End calto-action Area -->
